//Neutral colors

$black:#263238;
$d-grey:#4D4D4D;
$grey:
#717171;
$l-grey:
#89939E;
$grey-blue:
#ABBED1;
$silver:
#F5F7FA;
$white:
#FFFFFF;


//primary color

$primary:#28CB8B;

//Secondary color

$secondary:#263238;

//info color

$info:#2194f3;

// color shades

$shade1:#43A046;
$shade2:#388E3B;
$shade3:#237D31;
$shade4:#1B5E1F;
$shade5:#103E13;

//color tint

$Tint1:
#66BB69;
$Tint2:
#81C784;
$Tint3:
#A5D6A7;
$Tint4:
#C8E6C9;
$Tint5:
#E8F5E9;