@import "colors";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    border: none;

    img {
        width: 65px;
        height: auto;
    }
}

// .ill-img{
//     padding-left: 100px;
// }

.hero {
    background: $silver;
}

.login-btn {
    color: $shade1 ;
    text-decoration: none;
}

.signIn-btn {
    color: $white;
    text-decoration: none;
    background-color: $shade1;
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
}

.button {
    color: $white;
    text-decoration: none;
    background: $shade1;
    padding: 1rem 2rem;
    border-radius: 6px;
}

.slider-desc {
    padding: 50px;

    h1 {
        font-size: 64px;
        line-height: 76px;
        color: $d-grey;
    }

    span {
        color: $shade1;
    }

    p {
        line-height: 24px;
        color: $grey;
    }
}

.slick-dots {
    position: static !important;

    li button:before {
        font-size: 10px !important;
    }

    li.slick-active button:before {
        color: $shade1 !important;
    }
}

.client {
    h1 {
        font-size: 36px;
        line-height: 44px;
        color: $d-grey;
        text-align: center;
    }

    p {
        line-height: 24px;
        color: $grey;
        text-align: center;
    }
}

.client-container-img {
    // padding:20px 0px ;
    display: flex;
    justify-content: space-between;

    img {
        width: 48px;
    }
}

.community-container-desc {
    // padding: 20px 0px;

    h1 {
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: $d-grey;
    }

    p {
        line-height: 24px;
        color: $grey;
        text-align: center;
    }

    img {
        width: 65px;
        height: 56px;
    }
}

.member-card {
    box-shadow: #ABBED133 0px 2px 10px 0px;

    img {
        padding-bottom: 16px;
    }

    h1 {
        // width: 267px;
        // height: 72px;
        font-size: 28px;
        line-height: 36px;
        color: $d-grey;
    }

    p {
        padding-top: 8px;
        // width: 251px;
        // height: 60px;   
        font-size: 14px;
        color: $grey;
        line-height: 20px;
    }

}

.section3 {
    h1 {
        font-size: 36px;
        line-height: 44px;
        color: $d-grey;
    }

    p {
        color: $grey;
        line-height: 20px;
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 32px;
    }
}

.business-container {
    background: $silver;

    img {}
}

.sp3 {
    div {
        p {
            font-size: 28px;
            color: $d-grey;
            line-height: 36px;
            font-weight: 700;

            span {
                font-weight: 400px;
                color: $grey;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.business-container-desc {
    align-content: center;

    h1 {
        font-size: 36px;
        line-height: 44px;
        color: $d-grey;
    }

    span {
        font-size: 36px;
        line-height: 44px;
        color: $shade1;
    }

    p {
        line-height: 24px;
        color: $black;
    }
}

.design-container-desc {
    h1 {
        line-height: 44px;
        font-size: 36px;
        color: $d-grey;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        color: $grey;
    }
}

.tesla-container {
    background: $silver;

    p {
        line-height: 24px;
        color: $grey;
    }

    h1 {
        line-height: 28px;
        font-size: 20px;
        color: $shade1;
    }

    span {
        line-height: 24px;
        color: $l-grey;
    }

    ul {
        // padding-top: 2rem;

        li {
            list-style: none;
        }

        a {
            color: $shade1;
            font-size: 20px;
            line-height: 28px;
            text-decoration: none;
        }

        a:hover {
            transform: translateX(10px);
            transition: 0.5s all ease-in-out;
        }
    }
}

.float-card {
    h1 {
        font-size: 36px;
        line-height: 44px;
        color: $d-grey;
        text-align: center;
    }

    p {
        line-height: 24px;
        color: $grey;
        text-align: center;
        max-width: 628px;
    }
}

// .divv {
//     position: relative;
// }

.abs {
    // max-width: 317px;
    // height: auto;
    position: relative;
    margin:-80px 40px 34px 26px;
    background: $silver;
    border-radius: 8px;
    // position: absolute;
    // top: 60%;
    // left: 36px;
    text-align: center;
    box-shadow: #ABBED166 0px 10px 8px 0px;

    h1 {
        font-weight: 600px;
        font-size: 20px;
        line-height: 28px;
        color: $d-grey;
        padding-bottom: 1rem;
    }

    a {

        font-size: 20px;
        line-height: 28px;
        color: $shade1;
        text-decoration: none;
    }
}

.divv:hover {
    transform: translateY(-10px);
    transition: 0.5s all ease-in-out;
}


@media (max-width:500px) {
    // .client-container-img{
    // //    flex-direction: column;
    // //    align-items: center;
    // }

}

@media (max-width:760px) {
    .slider-desc {
        h1 {
            font-size: 36px;
            line-height: 44px;
        }
    }

    .member-card {
        h1 {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .community-container-desc {
        h1 {
            font-size: 28px;
            line-height: 36px;
        }
    }

    .business-container {
        .row{
            padding: 10px !important;
        }
    }

    .design-container {
        .row{
            padding: 10px !important;
        }
    }

    .business-container-desc {
        text-align: center;
        h1 {
            font-size: 24px;
            line-height: 36px;
        }
        span {
            font-size: 24px;
            line-height: 36px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
        }
    }

    .business-container-member {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .design-container-desc{
        h1{
            line-height: 36px;
            font-size: 24px;
        }
        p{
            font-size: 12px;
            line-height: 20px;
        }
    }

    .section3 {
        h1 {
            font-size: 16px;
            line-height: 24px;
        }

        p {
            line-height: 18px;
            font-size: 12px;
            padding-top: 8px;
        }
    }

}