* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  background: #F5F7FA;
}

.login-btn {
  color: #43A046;
  text-decoration: none;
}

.signIn-btn {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #43A046;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  background: #43A046;
  padding: 1rem 2rem;
  border-radius: 6px;
}

.fs {
  padding: 50px;
}
.fs h1 {
  font-size: 64px;
  line-height: 76px;
  color: #4D4D4D;
}
.fs span {
  color: #43A046;
}
.fs p {
  line-height: 24px;
  color: #717171;
}

.slick-dots {
  position: static !important;
}
.slick-dots li button:before {
  font-size: 10px !important;
}
.slick-dots li.slick-active button:before {
  color: #43A046 !important;
}

.client-container h1 {
  font-size: 36px;
  line-height: 44px;
  color: #4D4D4D;
}
.client-container p {
  line-height: 24px;
  color: #717171;
}

.community-container {
  padding: 20px 0px;
}
.community-container h1 {
  font-size: 36px;
  line-height: 44px;
  max-width: 542px;
  height: auto;
  text-align: center;
  color: #4D4D4D;
}
.community-container p {
  line-height: 24px;
  color: #717171;
}
.community-container img {
  width: 65px;
  height: 56px;
}

.member-card {
  box-shadow: rgba(171, 190, 209, 0.2) 0px 2px 10px 0px;
}
.member-card div {
  width: 299px;
  height: 260px;
}
.member-card img {
  padding-bottom: 16px;
}
.member-card h1 {
  width: 267px;
  height: 72px;
  font-size: 28px;
  text-align: center;
  line-height: 36px;
  color: #4D4D4D;
}
.member-card p {
  padding-top: 8px;
  width: 251px;
  height: 60px;
  text-align: center;
  font-size: 14px;
  color: #717171;
  line-height: 20px;
}

.sp-container h1 {
  font-size: 36px;
  line-height: 44px;
  color: #4D4D4D;
}
.sp-container p {
  color: #717171;
  line-height: 20px;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.sp {
  background: #F5F7FA;
}
.sp img {
  max-width: 48px;
  height: auto;
}

.sp3 div p {
  font-size: 28px;
  color: #4D4D4D;
  line-height: 36px;
  font-weight: 700;
}
.sp3 div p span {
  font-weight: 400px;
  color: #717171;
  font-size: 16px;
  line-height: 24px;
}

.sp-container2 h1 {
  font-size: 36px;
  line-height: 44px;
  color: #4D4D4D;
}
.sp-container2 span {
  font-size: 36px;
  line-height: 44px;
  color: #43A046;
}
.sp-container2 p {
  line-height: 24px;
  color: #263238;
}

.sp4 h1 {
  line-height: 44px;
  font-size: 36px;
  color: #4D4D4D;
}
.sp4 p {
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

.sp5 {
  background: #F5F7FA;
}
.sp5 p {
  line-height: 24px;
  color: #717171;
}
.sp5 h1 {
  line-height: 28px;
  font-size: 20px;
  color: #43A046;
}
.sp5 span {
  line-height: 24px;
  color: #89939E;
}
.sp5 ul li {
  list-style: none;
}
.sp5 ul a {
  color: #43A046;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}
.sp5 ul a:hover {
  transform: translateX(10px);
  transition: 0.5s all ease-in-out;
}

.sp6 h1 {
  font-size: 36px;
  line-height: 44px;
  color: #4D4D4D;
  text-align: center;
}
.sp6 p {
  line-height: 24px;
  color: #717171;
  text-align: center;
  max-width: 628px;
}

.divv {
  position: relative;
}

.abs {
  max-width: 317px;
  height: auto;
  background: #F5F7FA;
  border-radius: 8px;
  position: absolute;
  top: 60%;
  left: 36px;
  text-align: center;
  box-shadow: rgba(171, 190, 209, 0.4) 0px 10px 8px 0px;
}
.abs h1 {
  font-weight: 600px;
  font-size: 20px;
  line-height: 28px;
  color: #4D4D4D;
  padding-bottom: 1rem;
}
.abs a {
  font-size: 20px;
  line-height: 28px;
  color: #43A046;
  text-decoration: none;
}

.divv:hover {
  transform: translateY(-10px);
  transition: 0.5s all ease-in-out;
}/*# sourceMappingURL=style.css.map */