//Neutral colors

$neutral-50:#F5F6F9;
$neutral-100:#E6E9F0;
$neutral-200:#D7DBE6;
$neutral-300:#C9CEDD;
$neutral-400:#BAC1D4;
$neutral-500:#9CA6C1;
$neutral-600:#818EB0;
$neutral-700:#546286;
$neutral-800:#323B50;
$neutral-900:#11141B;

//Primary colors

$primary-50:#F4F8FF;
$primary-100:#DEEAFF;
$primary-200:#BCD6FF;
$primary-300:#9BC1FF;
$primary-400:#7AADFF;
$primary-500:#2196F3;
$primary-600:#0060FC;
$primary-700:#0045B4;
$primary-800:#00296C;
$primary-900:#000E24;

//Secondary colors

$secondary-500:#F42C38;
$secondary-600:#F00C1A;
$secondary-700:#AB0913;

//Shades 

$shade-0:#FFFFFF;
$shade-100:#000000;